body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 1s;
}

.formulario {
  border-radius: 10px;
  max-width: 500px;
}

.form-select option {
  color: black;
}

.novela-mode {
  background-image: url("../img/novela.png");
}
.novela-form {
  background: rgba(120,80,40,0.5);
  color: blanchedalmond;
}

.anime-mode {
  background-image: url("../img/anime.jpg");
}
.anime-form {
  background: rgba(0,60,120,0.5);
  color: rgb(158, 85, 225);
}

.manga-mode {
  background-image: url("../img/manga.jpg");
}
.manga-form {
  background: rgba(72, 163, 77, 0.9);
  color: black;
}

.manwha-mode {
  background-image: url("../img/manwha.png");
}
.manwha-form {
  background: rgba(10,30,50,0.6);
  color: cyan;
}
